/* Main CSS file */

@import '_example/_example.css';

body
{
   border: 1px solid gray;
   box-shadow: 0 0 0 6px gray;
   background-color: #0000000;

}
.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}
